body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.options {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #282c34;
  color: rgb(238, 226, 211);
  font-family: Verdana , Geneva , Tahoma , sans-serif;
}

header {
  align-items: center;
  background-color: #101318;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.answer-btn {
  font-size: 1.2em;
  margin: 5px;
  padding: 10px;
  width: 30vw;
}


.correta {
  border: 3px solid rgb(6, 240, 15);
}

.incorreta {
  border: 3px solid red;
}

.quiz-container {
  align-items: center;
  background-color: #101318;
  border: #323946 solid 2px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px 0;
  text-align: center;
  width: 70vw;
}

.avatar-img {
  border: 3px rgb(238, 226, 211) solid;
  border-radius: 100%;
}
